/*------------ FONT COLORS -------------
<p> copyright color: rgb(161, 163, 163)
<p> blog date: color: rgb(209, 223, 223)
<a> color: #333
<a:hover> color: #aaa

----------------------------------------/

/*---------------------------------------- GLOBAL STYLES ----------------------------------------*/
* {
    font-family: 'Questrial', sans-serif;
    letter-spacing: 1px;
}

body{
    overflow-x: hidden;
}

a:hover,
a.blogArchive,
a.company:hover,
a.contactLink:hover,
a.homeLink:hover,
a.info:hover,
a.website:hover,
.cbp-af-header nav a:hover,
.commentlist .commentmetadata a:hover,
div.alignleft.blog-archive a:hover,
div.alignright.blog-archive a:hover,
div.navigation div.alignleft a:hover,
div.navigation div.alignright a:hover,
div.pager.blogArchive a:hover,
div.pager.blogPage a:hover,
div.reply a:hover,
form#commentform p a:hover,
li.product-info-website a:hover,
.pagination a:hover,
ul.blogTags a:hover,
ul.monthlyList.sidebar li a:hover,
ul.pager.productPage a:hover{
    color: #333;
    text-decoration: none;
}


a.blogArchive:hover,
a.company,
a.contactLink,
a.homeLink,
a.info,
a.website,
.cbp-af-header nav a,
.commentlist .commentmetadata a,
div.alignleft.blog-archive a,
div.alignright.blog-archive a,
div.navigation div.alignleft a,
div.navigation div.alignright a,
div.pager.blogArchive a,
div.pager.blogPage a,
div.popover-content,
div.reply a,
form#commentform p a,
li.product-info-website a,
.pagination a, 
ul.blogTags a,
ul.catList.sidebar li a,
ul.monthlyList.sidebar li a,
ul.pager.productPage a,
ul.yearlyList.sidebar li a {
    color: #aaa;
    text-decoration: none;
}

h3.popover-title{
    color: black;
    background: rgb(209, 223, 223);
}

/* ------ pagination ---------*/

.fa.fa-th-large{
	margin-left: 5px;
	margin-right: 5px;
}

.pagination{
	margin: -7% auto 2% auto;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

/* ----- top margin -------*/

.col-xs-12.aboutPage,
.col-xs-12.blogArchive,
.col-xs-12.blogSinglePage,
.col-xs-12.dateArchive,
.col-xs-12.portfolioPage,
.col-xs-12.productPage {
    margin: 45% 0% 5% 0%;
}

/*------ page titles ----*/

.archiveTitle{
	margin-top:35%;
	margin-bottom: -38%;
	text-align:center;
	transform : scale(0.9,1.1);
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9+ */
    -o-transform:scale(1,1.2); /* Opera */
    font-size: 3.5em;
}
/*------------------------------------- END OF GLOBAL STYLES -------------------------------------*/

/*------------------------------------- START OF HEADER STYLES -------------------------------------*/
.cbp-af-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;   
    z-index: 10000;
    overflow: hidden;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
    background-size: cover;
}

.cbp-af-header .cbp-af-inner {
    position:relative;
    padding: 0 1.875em;
    margin: 0 auto;    
    max-width: 69em;
}

.cbp-af-header a.logo,
.cbp-af-header nav {
    display: inline-block;
    position: relative;
}

.header.opacity{
	position: fixed;
	margin-top: -26.5%;
    height: 90px;
    width: 100%;	
    background: rgba(0, 0, 0, 0.7);
}

img.logo{
    max-width: 400px;
}

img.logo:hover{
     opacity: 0.7;
}

.profilePic.hidden-xs.hidden-sm{
    margin: 0% auto 17% auto;
    max-width: 30%;   
    text-align:center;
}

ul.menu{
	list-style-type: none;
}

/*  one-lined elements, center the elements with the line-height set to the height of the header */

.cbp-af-header a.logo,
.cbp-af-header nav a {
    line-height: 230px;
}

.cbp-af-header a.logo {
    float: left;
    clear: both;
    margin: -7.5% 0% 0% -9%;
}

.cbp-af-header nav {
    width:100%;
    top: 0;
    margin: -8% 0% 0% 55%;
	position: absolute;

}

.cbp-af-header nav a {
    font-weight: 600;
    margin: 0 auto 0 3%;
    font-size: 2em;
    float:left;
}

/* Transitions and class for reduced height */

.cbp-af-header h1,
.cbp-af-header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.cbp-af-header.cbp-af-header-shrink {
    height: 90px;
}

.cbp-af-header.cbp-af-header-shrink a.logo {
    line-height: initial;
    margin: 5% 0% 0% 0%;
}

.cbp-af-header.cbp-af-header-shrink div.menu{
    margin: -3% 0% 0% -47%;
    max-width: 100%;
}

.cbp-af-header.cbp-af-header-shrink img.logo{
    width: 350px;
    margin: -52% 0% 0% 15%;
}

.cbp-af-header.cbp-af-header-shrink nav{
    margin: -17% 0% 0% 48%;

}

.cbp-af-header.cbp-af-header-shrink nav ul li a{
	font-size: 1.8em;
}

header.cbp-af-header.cbp-af-header-shrink div.profilePic.hidden-xs.hidden-sm{
	margin: 9% auto 24% auto;
}
/*------------------------------------- END OF HEADER STYLES -------------------------------------*/

/*--------------------------------------- START OF FOOTER ----------------------------------------*/
div.footerImg,
div.footer.opacity,
div.col-xs-12.copyright{
    width: 100%;
}

div.footerImg,
div.footer.opacity{
    height: auto;
}

div.col-xs-3.socialBtns,
div.col-md-3.smMedia.hidden-xs.hidden-sm ,
div.col-xs-8.col-xs-0ffset-1.col-md-6.lrgMedia{
	padding: 1%;
}

div.col-xs-8.col-xs-0ffset-1.col-md-6.lrgMedia{
    opacity: 0.7;
}

div.col-xs-8.col-xs-0ffset-1.col-md-6.lrgMedia:hover{
    opacity: 1;
}

div.col-xs-12.copyright{
    background-color: black;
    height: 50px;
}

div.footerImg{
    background: url(/estranged/wp-content/themes/estranged/imgs/footerImg.jpg) no-repeat;
}

div.footer.opacity {
    background-color: rgba(0, 0, 0, 0.51);
}

footer.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

img.socialMediaBtn{
    width: 75px;
    height: 75px;
}

li.socialMediaBtn1 a:hover,
li.socialMediaBtn2 a:hover,
li.socialMediaBtn3 a:hover,
li.socialMediaBtn4 a:hover,
li.socialMediaBtn5 a:hover,
li.socialMediaBtn6 a:hover{
	opacity: 0.2;
}

li.socialMediaBtn1,
li.socialMediaBtn4  {
    float:left;
    clear:both;
}

li.socialMediaBtn2,
li.socialMediaBtn3,
li.socialMediaBtn5,
li.socialMediaBtn6 {
    float: left;
    clear: right;
}

p.copyright{
    text-align: center;
    color: rgb(161, 163, 163);
    margin-top: 1%;
}

ul.socialMediaGalleryRow1,
ul.socialMediaGalleryRow2{
    list-style-type: none;
}
/*------------------------------------- END OF FOOTER -------------------------------------*/

/*------------------------------------- START OF SIDEBAR -------------------------------------*/
h1.archives.sidebar {
    transform : scale(1,1.1);
    -webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9+ */
    -o-transform:scale(1,1.1); /* Opera */
    font-size: 2em;
    font-weight: 600;
}

h2.month.sidebar,
h2.year.sidebar,
h2.categories.sidebar {
    transform : scale(1,1.2);
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9+ */
    -o-transform:scale(1,1.2); /* Opera */
    font-size: 1.4em;
}

span.glyphicon.glyphicon-pencil,
span.glyphicon.glyphicon-tags{
    color: rgb(209, 223, 223);
}

.monthlyList.sidebar li a,
.yearlyList.sidebar li a,
.catList.sidebar li a {
    font-style: italic;
}
/*------------------------------------- END OF SIDEBAR -------------------------------------*/

/*---------------------------------- START OF FRONT PAGE CONTENT ---------------------------------*/
.cbp-so-scroller {
    overflow: hidden;
    padding: 2em;
    margin-top: 25%;
}

.container.indexSection {
    padding-top: 25%;
}

figure.cbp-so-side.cbp-so-side-right,
figure.cbp-so-side.cbp-so-side-left {
    margin-top: 2.5%;
}

img.index-thumb{
    width: 650px;
    height: 450px;
}
/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

/* Text styling */
.cbp-so-section h2 {
	margin-top: 7%;
    font-size: 3.6em;
    font-weight: 300;
    line-height: 1;
}

.cbp-so-section p {
    font-size: 1.6em;
    font-weight: 300;
}

/* Sides */
.cbp-so-side {
	margin: 0;
    padding: 3em 4%;	
    width: 50%;
    float: left;
    overflow: hidden;
    min-height: 12em;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right,
.cbp-so-side-right img {
    text-align: left;
}

.cbp-so-side-left,
.cbp-so-side-left img {
    text-align: right;
}

/* Initial state (hidden or anything else) */

.cbp-so-init .cbp-so-side {
    opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;  
}

a figure:hover{
	opacity: 0.7;
}
/*--------------------------------------- END OF FRONt PAGE CONTENT ---------------------------------------*/

/*------------------------------------- START OF PORTFOLIO ARCHIVE PAGE CONTENT -------------------------------------*/
.info{
    font-size: 1.2em;
    font-weight: 800;
}

.view{
    position: relative;	
    margin: 10px;
    border: 10px solid #e6e6e6;    	
    width: 350px;
    height: 300px;
    float: left;
    overflow: hidden;
    text-align: center;
    background: url(../imgs/portfolioMask.jpg) no-repeat;   
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #c7c7c7;
    cursor: default;
}

.view-fifth h2 {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
    -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}

.view-fifth img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.view-fifth .mask {
    position:absolute;	
    margin: 0% auto;
    bottom: 0;	
    background-color: rgba(0, 0, 0, 0.63);
    -webkit-transform: translateX(-550px);
    -moz-transform: translateX(-550px);
    -o-transform: translateX(-550px);
    -ms-transform: translateX(-550px);
    transform: translateX(-550px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;;
}

.view-fifth p {
    margin: 0% 0% 5% 20%;
    max-width: 60%;
    height: auto;
    opacity: 0;
    color: white;    	
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.view-fifth:hover img {
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -o-transform: translateX(400px);
    -ms-transform: translateX(400px);
    transform: translateX(400px);
    transition-delay: 0.1s;
}

.view-fifth:hover .mask {
    width: 500px;
    height: 300px;	
    -webkit-transform: translateX(-85px);
    -moz-transform: translateX(-85px);
    -o-transform: translateX(-85px);
    -ms-transform: translateX(-85px);
    transform: translateX(-85px);
}

.view-fifth:hover p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    transition-delay: 0.3s;
}
/*--------------------------------------- END OF PORTFOLIO ARCHIVE PAGE CONTENT ---------------------------------------*/

/*------------------------------------- START OF PORTFOLIO SINGLE PAGE CONTENT -------------------------------------*/
.addthis_sharing_toolbox {
    margin: 8% 0% 0% 0%;
}

.col-md-6.col-xs-12 p {
    font-size: 1.3em;
    margin: 10% 0% 10% 0%;
    text-align: justify;
}

.col-md-6.col-xs-12.single-portfolio{
	margin-top: 1%;
	left: 15px;
}

div.date{
	color: rgb(209, 223, 223);
    margin: -4% 0% 0% 9%;
    font-weight: 800;	
}

hr.style.single-portfolio{
    height: 9px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(209, 223, 223, 0.5);
    margin: 4% 0% -7% 0%;
}

.product-info-company{
	height: 10px;
}

.product-info-website{
	margin-bottom: -3%;
}

.product-info-website a {
    font-size: 1em;
    font-style: italic;
    transform : scale(0.9,1.1);
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9+ */
    -o-transform:scale(1,1.2); /* Opera */
}

.product-info-website,
.product-info-website p{
	display: inline-block;
}

div.date,
.product-info-website,
.product-info-company{
	font-size: 1.1em
}

span.website,
span.company,
span.date{
    font-weight: bold;
    font-size: 1.3em;
}

ul.productInfoUl{
    margin: 0% 0% 0% -7%;
    list-style-type: none;
}
/*--------------------------------------- END OF PORTFOLIO SINGLE PAGE CONTENT ---------------------------------------*/

/*------------------------------------- START OF BLOG TAGS -------------------------------------*/
.blogTags{
    list-style-type: none;
    margin: -3% 0% 4% 0%;
}

.blogTags a{
	margin: 0% 1% 0% 1%;
}

.glyphicon.tag   {
    display: inline-block;
    width: 100%;
}

h2.blogTagLine {
    font-size: 2em;
    font-style:italic;
    width: 74%;
}

.tag1,
.tag2 {
    float: left;
    clear: right;
    margin: 0% 3% 1% 0%;
}

.tag1,
.tag2,
.tag3{
    font-size: 1.1em;
}
/*------------------------------------- END OF BLOG TAGS -------------------------------------*/

/*------------------------------------- START OF BLOG ARCHIVE PAGE CONTENT -------------------------------------*/
.alignright.blog-archive  {
    float: right;
    clear: both;
}

.alignleft.blog-archive,
.alignright.blog-archive {
    margin: 10% 27% -12% 0%;
    font-size: 1.3em;
}

article.col-sm-6.blogArticle{
	font-size: 1.3em;
}

aside.col-xs-3.blogArchive {
    float:right;
    clear:right;
}

.author-name{
	margin-top: 2%;
}

.blogIntro {
    margin: -11% 0% 0% 27%;
    color: black;
}

.col-lrg-2.col-lrg-offset-10.col-xs-12.blogArchivePage{
    margin: 6% -1% -18% 63%;
    top: 0;
    position: fixed;
}

.col-sm-2.blogDate{
	margin-top: 2%;
}

.comments.blogArchive {
    margin: 5% 0% 0% 0%;
}

figure.col-sm-4.blogArchive {
    margin-bottom: 5%;
}

h1.blogName {
    font-size: 3em;
    font-weight: 800;
    width: 46%;
    transform : scale(1,1.2);
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9+ */
    -o-transform:scale(1,1.2); /* Opera */
}

h1.blogTitle {
    font-size: 2em;
}

hr.style {
    height: 9px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(209, 223, 223, 0.5);
}

img.blogArchiveImg{
    width: 350px;
    height: 350px;
}

nav.nav-blog-archive{
    margin: 3% 33% -10% 0%;
}

p.blogText{
    font-size: 1.2em;
}

p.month,
p.date,
p.year{
    font-size: 2em;
    transform : scale(1,2);
    -webkit-transform:scale(1,2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9+ */
    -o-transform:scale(1,2); /* Opera */
    text-align: center;
    line-height: 1.8;
}

p.month{
    text-transform: uppercase;
}

.blog-author-name,
p.month,
p.date,
p.year {
    color: rgb(209, 223, 223);
}

span.badge{
	background-color: rgb(209, 223, 223);
}
/*--------------------------------------- END OF BLOG ARCHIVE PAGE CONTENT ---------------------------------------*/

/*--------------------------------------- START OF BLOG PAGE CONTENT ---------------------------------------*/
.col-xs-2.blogDate.blogPage.hidden-xs{
	margin-top: 2%;	
}

.col-xs-8.blogPage p {
    margin-top: 2%;	
    font-size: 1.4em;
	text-align: justify;
}

.blogPage.tags {
    margin-top: 3%;
}

h1.blogTitle.blogPage {
    font-size: 2.3em;
}

hr.style.single-blog {
    height: 9px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(209, 223, 223, 0.5);
    margin: 1% 0% 5% 0%;
}

.tag1.blogPage {
    margin: 0% 2% 1% 0%;
}

.pager li>a {
    border: none;
}

.pager li>a:hover {
    background:none;
}

.blogTags.blogPage {
    margin: -3.5% 0% 3% 0%;
    font-size: 1.2em;
}
/*--------------------------------------- END OF BLOG PAGE CONTENT ---------------------------------------*/

/*--------------------------------------- START OF TAG ARCHIVE CONTENT ---------------------------------------*/
hr.tag,
hr.catHR{
    border: 1.8px dotted rgba(209, 223, 223, 0.5);
    margin: 2% 0% 10% 0%;
}

p.tagHeader,
p.catHeader{
    text-align: center;
    font-size: 1.5em;
    transform : scale(1,1.1);
    -webkit-transform:scale(1.5,2); /* Safari and Chrome */
    -moz-transform:scale(1.5,2); /* Firefox */
    -ms-transform:scale(1.5,2); /* IE 9+ */
    -o-transform:scale(1,1.1); /* Opera */
    line-height: 1.8;
    width: 90%;

}
/*--------------------------------------- END OF TAG ARCHIVE CONTENT ---------------------------------------*/

/*--------------------------------------- START OF ABOUT PAGE CONTENT ---------------------------------------*/
.about-title{
	margin-top: -8%;
	margin-bottom: 5%;
    text-align: center;
    font-size: 2.5em;
    transform : scale(1,1.2);
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9+ */
    -o-transform:scale(1,1.2); /* Opera */
}

.col-xs-12.aboutPage{
    font-size: 1.4em;
    text-align: justify;
}
/*--------------------------------------- END OF ABOUT PAGE CONTENT ---------------------------------------*/

/*--------------------------------------- START OF CONTACT PAGE CONTENT ---------------------------------------*/
.contact.col-sm-6.col-sm-offset-3{
	margin-top: 30%;
	margin-bottom: 5%;
	font-size: 1.3em;
}

input{
	height: 40px;
}

input.wpcf7-form-control.wpcf7-submit{
	float:right;
    clear:both;
    width: 20%;
    background: rgba(209, 223, 223, 0.3);	
}

input.wpcf7-form-control.wpcf7-submit:hover{
    color: rgb(209, 223, 223);
}

span.wpcf7-form-control-wrap.your-name input,
span.wpcf7-form-control-wrap.your-email input,
span.wpcf7-form-control-wrap.your-subject input,
span.wpcf7-form-control-wrap.your-message textarea{
	width: 100%;
    background-color: rgb(209, 223, 223);
    font-style: italic;
    font-weight: 200;
}
/*--------------------------------------- END OF CONTACT PAGE CONTENT ---------------------------------------*/

/*--------------------------------------- START OF COMMENTS CONTENT ---------------------------------------*/
.commentlist .vcard cite.fn {
    font-size: 1.2em;
    font-weight: 700;
}

div.reply{
    margin: -1% 0% 3% 0%;
}

div#respond{
    margin: 5% 0% 0% 0%;
}

form#commentform input#submit{
    float:right;
    clear:both;
    background: rgba(209, 223, 223, 0.3);
    font-size: 0.9em;
}

input.form-control,
textarea.form-control,
input.btn.btn-default.contactForm{
    border-radius: 0px;
}

ol.commentlist{
    margin: 3% 0% 0% 0%;
    list-style-type: none;
}

ol.commentlist div.comment-body p {
    font-size: 1.4em;
}

.commentlist li ul.children li.comment{
    background-color: rgba(223, 223, 223, 0.28);
}

.commentlist .thread-even{
    height: 9px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(209, 223, 223, 0.5);
    margin: 3% 0%;
    background-color: rgba(209, 223, 223, 0.16);
    height: 20%;
}

textarea#comment{
	width: 100%;
}

ul.children{
    list-style-type: none;
}

/*--------------------------------------- END OF COMMENTS CONTENT ---------------------------------------*/

/*--------------------------------------- START OF 404 CONTENT ---------------------------------------*/
div.col-xs-12.page404{
	text-align: center;
	margin-bottom: 5%;
	margin-top: 45%;
}

h1.h1-404{
    font-size: 4em;
    text-align: center;
}

li.li-404{
    margin-bottom: 1%;
}

p.p-404{
    font-size: 1.5em;
    text-align: justify;
    margin: 3% 5%;
    width: 90%;
}

ul.ul-404{
    font-size: 1.2em;
	list-style-type: none;
	margin-top: 3%;
}
/*--------------------------------------- END OF 404 CONTENT ---------------------------------------*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------- START OF MEDIA QUERIES ------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*------------ START OF MIN-WIDTH 1200px and MAX-WIDTH 1500px (bootstrap lrg | desktop)-------------*/
@media only screen and (min-width: 75.000em) and (max-width: 93.750em) {

	/*------------ start of header/nav  ---------------*/	
	.cbp-af-header nav a{
		font-size: 1.6em;
	}
		
	.cbp-af-header.cbp-af-header-shrink nav ul li a{
		font-size: 1.3em;
	}
	
	.cbp-af-header.cbp-af-header-shrink nav{
		margin: -17% 0% 0% 46%;
	}
	
	div.header.opacity{
		margin-top: -25%;
	}
	
	header.cbp-af-header img.header-img{
		width: 100%;
		height: auto;
	}	
	/*------------ end of header/nav  ---------------*/	
	
	/*------------ start of footer ---------------*/	
	div.col-xs-8.col-xs-0ffset-1.col-md-6.lrgMedia{
		margin: 0% 0% 0% -3%;
	}	
	
	.col-md-3.smMedia.hidden-xs.hidden-sm{
		margin-left: -2%;
	}
	/*------------ end of footer ---------------*/	
		
	/*------------ start of front page ---------------*/	
	.cbp-so-scroller{
		margin-top: 25%;
	}

	.cbp-so-section h2{
		font-size: 3em;
	}
	/*------------ end of front page ---------------*/		

	/*------------ start of archive portfolio page ---------------*/		
	.archiveTitle{
		margin-top: 25%;
	}	
	/*------------ end of archive portfolio page ---------------*/
	
	/*------------ start of single portfolio page ---------------*/	
	.col-xs-12.productPage {
		margin: 35% auto 17% auto;
	}
	/*------------ start of single portfolio page ---------------*/	
	
	/*------------ start of blog archive page ---------------*/		
	div.col-lrg-2.col-lrg-offset-10.col-xs-12.blogArchivePage{
		margin:6% -1% -18% 72%;
	}
	
	div.col-xs-12.blogArchive{
		margin: 35% 0% 15% -15%;
	}
	/*------------ end of blog archive page ---------------*/		
	/*------------ start of blog page ---------------*/		
	
	.col-xs-12.blogSinglePage{
		margin-top: 35%;
	}
	/*------------ end of blog  page ---------------*/
	
	/* -------------- start of about page ----------------*/
	.about-title{
		margin-top: -23%;
		margin-bottom: 10%;
	}
	
	.col-sm-10.col-sm-offset-1.col-xs-12.aboutPage {
	    margin-top: 32%;
	    font-size: 1.2em;
	}
	/*-------------- end of about page ----------------*/	
	/*--------------- start of 404 page ------------------*/
	div.col-xs-12.page404{
		margin-top: 35%;	
	}
	
	div.col-xs-12.dateArchive{
		margin: 25% 0% 15% 0%;
		width: 80%;
	}
	
	hr.catHR{
		margin: 2% -7% 10% 3%;
	}
	/*--------------- end of 404 page ------------------*/	
}
/*------------ END OF MIN-WIDTH 1200px and MAX-WIDTH 1500px (bootstrap lrg | desktop)-------------*/

/*------------ START OF MIN-WIDTH 992px and MAX-WIDTH 1199px (bootstrap md | ipad landscape)-------------*/

@media only screen and (min-width: 62.000em) and (max-width: 74.938em) {
	
	/*------------ start of header/nav  ---------------*/			
	.cbp-af-header h1, 
	.cbp-af-header nav a{
		-webkit-transition: all 0.1s;
	    -moz-transition: all 0.1s;
	    transition: all 0.1s;
	}
	
	.cbp-af-header.cbp-af-header-shrink nav{
		margin: -17% 0% 0% 44%;
	}	
		
	.cbp-af-header.cbp-af-header-shrink nav ul li a{
		font-size: initial;
	}
	
	.cbp-af-header nav{
		margin: -8% 0% 0% 15%;
	}
			
	.cbp-af-header nav a{
		font-size: 1.3em;
	}
			
	div.header.opacity{
		margin-top: -25%;
	}
		
	header.cbp-af-header{
	    -webkit-transition: height 0.1s;
	    -moz-transition: height 0.1s;
	    transition: height 0.1s;	
	}

	header.cbp-af-header img.header-img{
		width: 100%;
		height: auto;
	}
	
	img.header-gravatar{
		margin-left: -21%;
		width: 50%;
		height: auto;
	}
	
	img.logo{
		margin-left: 7%;
	}
	/*------------ end of header/nav  ---------------*/	
		
	/*------------ start of footer  ---------------*/			
	div.col-md-3.smMedia.hidden-xs.hidden-sm {
		display: none;
	}
	
	div.col-xs-8.col-xs-0ffset-1.col-md-6.lrgMedia{
		margin-left: 8%;
	}
	
	div.col-xs-3.socialBtns{
		margin-left: 10%;
	}
	
	img.socialMediaBtn{
		width: 65px;
		height: auto;
	}
	/*------------ end of footer  ---------------*/		
	
	/*------------ start of sidebar ----------------*/
	div.sidebar{
		margin-left: 3%;
	}
	/*------------ end of sidebar ----------------*/	
	
	/*------------ start of portfolio archive page  ---------------*/		
	div.col-xs-12.portfolioPage{
	    margin: 37% 0% 3% 0%;
	}
	
	h1.archiveTitle{
		margin-top: 20%;
		margin-bottom: -27%;
	}
	
	.view{
	    position: relative;	
	    border: 10px solid #e6e6e6;	 
	    margin: 5px;	    
	    width: 32%;
	    height: 300px;
	    float: left;
	    text-align: center;
		overflow: hidden;
	    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
	    -moz-box-shadow: 1px 1px 2px #e6e6e6;
	    box-shadow: 1px 1px 2px #c7c7c7;
	    cursor: default;
	    background: url(../imgs/portfolioMask.jpg) no-repeat;
	}
	
	.view-fifth p{
		margin: 0% 0% 1% 20%;
	}	
	
	.view-fifth:hover .mask{
		width: 415px;
		margin: 0% 0% 0% 5%;
	}
	
	.view-fifth:hover p{
		text-align:justify;
	}	
	/*------------ end of portfolio archive page  ---------------*/
	
	/*------------ start of single portfolio page ---------------*/	
	.col-xs-12.productPage {
		margin: 30% auto 10% -2%;
	}
	
	.col-md-6.col-xs-12.single-portfolio{
		left: 0;
	}
	
	div.date{
		margin: -5% 0% 0% 12%;
	}
	/*------------ end of single portfolio page ---------------*/			
	
	/*------------ start of blog archive page  ---------------*/	
	article.col-sm-6.blogArticle{
		font-size: 1.1em;
	}
	
	div.col-lrg-2.col-lrg-offset-10.col-xs-12.blogArchivePage	{
		margin: 25% -1% -18% 74%;
	}
	
	div.col-xs-12.blogArchive{
		margin: 30% 0% 15% -7%;
		width: 95%;
		height: auto;
	}	
	
	figure.col-sm-4.blogArchive	{
		margin-bottom: 15%;
	}

	figure.col-sm-4.blogArchive img{
		width: 80%;
		height: auto;
	}	
	/*------------ end of blog archive page  ---------------*/	
	
	/*------------ start of blog date/tag archive page  ---------------*/	
	p.catHeader,
	p.tagHeader{
		margin-top: 12%;
	}
	/*------------ end of blog date/tag archive page  ---------------*/	
	
	/*------------ start of blog page  ---------------*/	
	article.col-xs-10.blogPage p img{
		width: 95%;
		height: auto;
	}
	
	div.col-xs-12.blogSinglePage{
		margin: 30% 0% 0% -3%;		
	}
	/*------------ end of blog  page  ---------------*/		
	
	/*------------ start of page  ---------------*/
	div.col-sm-10.col-sm-offset-1.col-xs-12.aboutPage {
	    margin-top: 30%;
	}		
	/*------------ end of page  ---------------*/	

	div.col-xs-12.page404{
		margin-top: 30%;
	}
	
	div.col-xs-12.dateArchive{
		margin: 20% 0% 15% 0%;
		width: 80%;
	}	
}
/*------------ END OF MIN-WIDTH 992px and MAX-WIDTH 1199px (bootstrap md | ipad landscape)-------------*/

/*------------ START OF MIN-WIDTH 768px and MAX-WIDTH 991px (bootstrap sm | ipad portrait)-------------*/

@media only screen and (min-width: 48.000em) and (max-width: 61.938em) {
			
	/*------------ start of header/nav  ---------------*/				
	.cbp-af-header h1, 
	.cbp-af-header nav a{
		-webkit-transition: all 0.1s;
	    -moz-transition: all 0.1s;
	    transition: all 0.1s;
	}

	.cbp-af-header a.logo{
		margin: -7.5% auto 0% 3%;
	}
	
	.cbp-af-header.cbp-af-header-shrink nav{
		margin: -9% auto 0% auto;
	}	
	
	.cbp-af-header.cbp-af-header-shrink nav ul li a{
		font-size: 1.6em;
	}
		
	.cbp-af-header nav{
		margin: 0% auto;
		display: block;
		left: 0;
	}
		
	.cbp-af-header nav a{
		font-size: 2em;
	}		

	div.header.opacity{
		margin-top: -25%;
		height: 200px;
	}
	
	header.cbp-af-header{
	    -webkit-transition: height 0.1s;
	    -moz-transition: height 0.1s;
	    transition: height 0.1s;	
	}
		
	header.cbp-af-header img.header-img{
		width: 100%;
		height: auto;
	}
		
	img.header-gravatar{
		width: 50%;
		height: auto;
		margin-left: -21%;
	}
	/*------------ end of header/nav  ---------------*/	
		
	/*------------ start of footer  ---------------*/			
	div.col-md-3.smMedia.hidden-xs.hidden-sm {
		display: none;
	}
	
	div.col-xs-8.col-xs-0ffset-1.lrgMedia{
		margin: 0;
	}
	
	img.socialMediaBtn{
		width: 45px;
		height: auto;
	}
	/*------------ end of footer page  ---------------*/
			
	/*------------ start of front page  ---------------*/	
	.cbp-so-section h2{
		font-size: 3em;
	}
	
	.cbp-so-section p{
		font-size: 1.3em;
		text-align: justify;
	}
	
	figure.cbp-so-side-left img,	
	figure.cbp-so-side-right img{
		width: 100%;
		height: auto;
	}
	/*------------ end of front page  ---------------*/
	
	/*------------ start of portfolio archive page  ---------------*/		
	div.col-xs-12.portfolioPage{
	    margin: 45% 0% 3% 0%;
	}
	
	div.col-xs-12.archiveTitle{
		margin-top: 27%;
	}
	
	.view{
	    position: relative;	
	    border: 10px solid #e6e6e6;	
	    margin: 5px;	        	
	    width: 48%;
	    height: 300px;
	    float: left;
	    text-align: center;
	    overflow: hidden;	    
	    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
	    -moz-box-shadow: 1px 1px 2px #e6e6e6;
	    box-shadow: 1px 1px 2px #c7c7c7;
	    cursor: default;
	    background: url(../imgs/portfolioMask.jpg) no-repeat;
	}
	
	.view-fifth:hover .mask{
		margin: 0% 0% 0% 11%;		
		width: 415px;
	}
	
	.view-fifth:hover p{
		text-align:justify;
	}	
			
	.view-fifth p{
		margin: 0% 0% 1% 20%;
	}
	/*------------ end of portfolio archive page  ---------------*/
	
	/*------------ start of single portfolio page ---------------*/	
	article.col-md-6.col-xs-12.single-portfolio{
		margin: 0% 0% 0% 2%;
	}
	
	.col-md-6.col-xs-12.single-portfolio{
		left:0;	
	}
	
	.col-md-6.col-xs-12.single-portfolio figure img{
		width: 100%;
		height: 100%;
	}
	
	div.col-xs-12.productPage {
		margin: 30% auto 17% -2%;
	}
	
	div.addthis_sharing_toolbox{
		margin: 8% 0%;
	}
	
	div.date{
		margin: 0% auto;
	}
	
	div.productInfo{
		margin-left: auto;	
	}
			
	div.productInfo,
	h1.productPageTitle{
		text-align: center;
	}

	span.date{
		display: none;
	}
	/*------------ end of single portfolio page ---------------*/
	
	/*------------ start of sidebar  ---------------*/	
	h2.categories.sidebar,
	h2.month.sidebar, 
	h2.year.sidebar{
		display:inline-block;
	}
			
	h2.categories.sidebar{
		margin: -4% 0% 2% 0%;
		float: left;
		clear: both;
	}
	
	ul.monthlyList.sidebar,
	ul.catList.sidebar{
		width: 100%;
		margin: -1% 0% 5% 5%;
		list-style: none;
	}
	
	ul.monthlyList.sidebar li,
	ul.catList.sidebar li{		
		float:left;
		margin: -4% 0% 2% 5%;
	}	
	/*------------ end of sidebar  ---------------*/
			
	/*------------ start of blog archive page  ---------------*/	
	article.col-sm-6.blogArticle{
		font-size: 1.1em;
	}
	
	div.col-lrg-2.col-lrg-offset-10.col-xs-12.blogArchivePage	{
		margin: 28% 0% 0% 0%;
		position: inherit;
	}
	
	div.col-xs-12.blogArchive{
		margin: 10% 0% 15% 0%;
	}	
	
	figure.col-sm-4.blogArchive	{
		margin-bottom: 25%;
	}

	figure.col-sm-4.blogArchive img{
		margin-top: 10%;
		width: 95%;
		height: auto;
	}	
	/*------------ end of blog archive page  ---------------*/	
	
	/*------------ start of blog page  ---------------*/	
	.col-xs-8.blogPage{
		width: 80%;
	}
	
	div.col-xs-12.blogSinglePage{
		margin: 0%;		
	}
	/*------------ end of blog  page  ---------------*/		
	
	/* -------------- start of 404 page ----------------*/	
	div.col-xs-12.page404{
		margin-top: 25%;
	}
	
	img.img-404{
		width: 90%;
		height: auto;
	}		
	/*-------------- end of 404 page ----------------*/
	
	/*-------------- start of blog date archive page ----------------*/	
	div.col-xs-12.dateArchive{
		margin: 0% 0% 5% 0%;
	}
	
	p.catHeader {
		width: 70%;
		margin-left: 14%;
	}
	/*-------------- end of blog date archive page ----------------*/			
}
/*------------ END OF MIN-WIDTH 768px and MAX-WIDTH 991px (bootstrap sm | ipad portrait)-------------*/

/*------------ START OF MIN-WIDTH 569px and MAX-WIDTH 737px ( iphone6, iphone6+ landscape)-------------*/

@media only screen and (min-width: 35.563em) and (max-width: 46.063em) {
				
	/*------------ start of header/nav  ---------------*/	
	.cbp-af-header a.logo{
		margin: -7.5% auto 0% 3%;
		float:left;
		clear: both;
	}
			
	.cbp-af-header.cbp-af-header-shrink nav ul li a{
		font-size: 1.6em;
	}
	
	.cbp-af-header.cbp-af-header-shrink nav{
		margin: -12% auto 0% auto;
	}
	
	.cbp-af-header nav{
		margin: 0% auto;
		display: block;
		left: 0;
	}
	
	.cbp-af-header nav a{
		font-size: 1.8em;
	}
	/*------------ end of header/nav  ---------------*/	
		
	/*------------ start of footer  ---------------*/			
	div.col-xs-8.col-xs-0ffset-1.lrgMedia{
		margin: 0;
	}
	
	img.socialMediaBtn{
		width: 40px;
	}
	/*------------ end of footer  ---------------*/
	
	/*------------ start of sidebar ---------------*/	
	div.sidebar{
		margin-top: 10%;
		margin-bottom: 10%;
	}
	
	h2.categories.sidebar{
		margin: -4% 0% 2% 0%;
		float: left;
		clear: both;
	}
	
	ul.monthlyList.sidebar,
	ul.catList.sidebar{
		margin: -1% 0% 5% 6%;
	}
	
	ul.monthlyList.sidebar li,
	ul.catList.sidebar li{		
		margin: -4% 0% 2% 5%;
	}	
	/*------------ end of sidebar ---------------*/
			
	/*------------ start of front page  ---------------*/	
	.cbp-so-section h2{
		font-size: 2.6em;
	}
	
	.cbp-so-section p{
		font-size: 1.2em;
		text-align: justify;
	}
	/*------------ end of front page  ---------------*/
	
	/*------------ start of portfolio archive page  ---------------*/		
	.archiveTitle{
		font-size: 3em;
	}	
			
	div.col-xs-12.archiveTitle h1{
		font-size: 3em;
	}
		
	.view{
	    margin: 5px;		
	    width: 48%;
	    height: 300px;
	}
	
	.view-fifth:hover .mask{
		width: 380px;
		margin: 0% 0% 0% 15%;
	}	

	.view-fifth p{
		margin: 0% 0% 1% 20%;
	}	
	/*------------ end of portfolio archive page  ---------------*/
	
	/*------------ start of single portfolio page ---------------*/		
	div.col-md-6.col-xs-12.single-portfolio{
		left: 0;
	}
	
	div.col-md-6.col-xs-12.single-portfolio img{
		margin-left: 8%;		
		width: 80%;
		height: auto;	
	}	
	
	h1.productPageTitle{
		text-align: center;
	}
	/*------------ end of single portfolio page ---------------*/
		
	/*------------ start of blog archive page  ---------------*/	
	article.col-sm-6.blogArticle{
		font-size: 1.1em;
		margin:0% 0% 10% 16%;
		width:80%
	}
	
	div.col-xs-12.blogArchive{
		margin: 0% 0% 10% 0%;
	}	
	
	div.col-lrg-2.col-lrg-offset-10.col-xs-12.blogArchivePage{
		margin: 28% 0% 0% 0%;
	}
	/*------------ end of blog archive page  ---------------*/	
	
	/*------------ start of blog date archive page  ---------------*/	
	.blogArchive{
		margin-top: -5%;
	}
			
	div.col-xs-12.dateArchive{
		margin: 0% 0% 5% 3%;
	}
	
	p.catHeader {
		margin: 0% 0% 0% -7%;
		width: 70%;
		font-size: 1.3em;
	}	
	/*------------ end of blog date archive page  ---------------*/	 

	/*------------ start of blog page  ---------------*/	
	div.col-xs-12.blogSinglePage{
		margin: 0%;		
	}
	
	.col-xs-8.blogPage{
		width: 100%;
		font-size: 0.9em;
		padding: 0% 5%;
	}
	
	form#commentform input#submit {
		margin: 0% 7% 0% 0%;		
	}	
	/*------------ end of blog  page  ---------------*/		
	   
	/* -------------- start of 404 page ----------------*/
	div.col-xs-12.page404{
		margin-top: 25%;
	}
	
	img.img-404{
		width: 90%;
		height: auto;
	}			
	/* -------------- end of 404 page ----------------*/
}
/*------------ END OF MIN-WIDTH 569px and MAX-WIDTH 737px (iphone6, iphone6+ landscape)-------------*/

/*------------ START OF MIN-WIDTH 416px and MAX-WIDTH 568px ( iphone4, iphone5 landscape)-------------*/

@media only screen and (min-width: 26.000em) and (max-width: 35.500em) {
	
	/*------------ start of header/nav  ---------------*/	
	.cbp-af-header a.logo{
		margin: -14.5% auto 0% auto;
		float:left;
		clear: both;
	}
		
	.cbp-af-header.cbp-af-header-shrink nav ul li a{
		font-size: 1.2em;
	}
	
	.cbp-af-header.cbp-af-header-shrink{
		height: 60px;
	}
	
	.cbp-af-header.cbp-af-header-shrink nav{
		margin: -18% auto 0% auto;
	}
	
	.cbp-af-header nav{
		margin: -5% auto ;
		display: block;
		left: -14px;
	}
	
	.cbp-af-header nav a{
		font-size: 1.4em;
	}
	
	div.col-xs-3.socialBtns{
		width: 20%;
	}
	
	img.logo{
		max-width: 300px;
	}
	/*------------ end of header/nav  ---------------*/	
		
	/*------------ start of footer  ---------------*/	
	div.col-xs-8.col-xs-0ffset-1.lrgMedia{
		margin: 0;
	}
	
	img.socialMediaBtn{
		width: 40px;
	}	
	/*------------ end of footer  ---------------*/
			
	/*------------ start of sidebar  ---------------*/	
	div.sidebar{
		margin-left: 5%;
	}
	
	h1.archives.sidebar{
		margin-bottom: 0%	
	}
	
	ul.monthlyList.sidebar,
	ul.catList.sidebar{
		margin: -4% 0% 0% 10%;
	}
	
	ul.monthlyList.sidebar li{		
		margin: -3% -5% 1% 9%;
	}
	/*------------ end of sidebar  ---------------*/		
	
	/*------------ start of front page  ---------------*/	
	.cbp-so-section h2{
		font-size: 1.8em;
	}
	
	.cbp-so-section p{
		font-size: 1em;
		text-align: justify;
	}	
	/*------------ end of front page  ---------------*/
	
	/*------------ start of portfolio archive page  ---------------*/			
	.archiveTitle{
		font-size: 2.5em;
	}
	
	div.col-xs-12.archiveTitle h1{
		font-size: 3em;
	}
	
	.view{
	    height: 300px;
	    margin: 2% 10%;
	}
	
	.view-fifth:hover .mask{
		margin: 0%;
	}
	/*------------ end of portfolio archive page  ---------------*/
	
	/*------------ start of single portfolio page ---------------*/		
	.col-md-6.col-xs-12 p{
		font-size: 1.1em;
	}
	/*------------ end of single portfolio page ---------------*/
	
	/*------------ start of blog archive page  ---------------*/	
	article.col-sm-6.blogArticle{
		font-size: 1.1em;
		margin: 6% 0% 10% 16%;
	}
	
	.blogArchive{
		margin-top: -5%;
	}
	
	div.col-lrg-2.col-lrg-offset-10.col-xs-12.blogArchivePage	{
		margin: 28% 0% 0% -3%;
	}
	
	div.col-sm-2.blogDate{
		font-size: 0.9em;
	}

	div.col-xs-12.blogArchive{
		margin: 10% 0% 15% 0%;
	}			
			
	div.col-xs-12.dateArchive{
		margin: 0% 0% 5% 3%;
	}
	
	p.catHeader {
		margin: 10% 0% 5% -2%;
		font-size: 1.2em;
	}
	/*------------ end of blog date archive page  ---------------*/	 
	
	/*------------ start of blog page  ---------------*/	
	.col-xs-8.blogPage{
		padding: 0% 5%;		
		width: 100%;
		font-size: 0.9em;
	}
		
	div.col-xs-12.blogSinglePage{
		margin-top: 5%;		
	}
s
	form#commentform input#submit {
		margin: -3% 0% 4% 0%;		
	}
	
	p textarea#comment{
		width: 100%;
	}
	/*------------ end of blog  page  ---------------*/	
	
	/*------------ start of page  ---------------*/		
	.about-title{
		font-size: 2em;
	}
	/*------------ end of page  ---------------*/
				
	/*-------------- start of 404 page ----------------*/
	div.col-xs-12.page404{
		margin-top: 25%;
	}
	
	img.img-404{
		width: 90%;
		height: auto;
	}
	
	ul.ul-404{
		width:90%;
		text-align: left;
	}
	
	h1.h1-404{
		font-size: 3em;
	}		
	/*-------------- end of 404 page ----------------*/	
}
/*------------ END OF MIN-WIDTH 416px and MAX-WIDTH 568px (iphone4, iphone5 landscape)-------------*/

/*------------ START OF MIN-WIDTH 320px and MAX-WIDTH 415px ( iphone4, iphone5, iphone6, iphone6+ portrait)-------------*/

@media only screen and (min-width: 20.000em) and (max-width: 25.938em) {
	
	/*------------ start of header/nav  ---------------*/		
	.cbp-af-header a.logo{
		margin: -24% -5%;	
	}
		
	.cbp-af-header.cbp-af-header-shrink nav ul li a{
		font-size: 0.8em;
	}
	
	.cbp-af-header.cbp-af-header-shrink{
		height: 60px;
	}
	
	.cbp-af-header.cbp-af-header-shrink nav{
		margin: -26% -15%;
	}
		
	.cbp-af-header nav{
		margin:  0%;
		display: block;
	}
	
	.cbp-af-header nav a{
		font-size: 1em;
	}
	
	img.logo{
		max-width: 300px;
	}	
	/*------------ end of header/nav  ---------------*/
				
	/*------------ start of footer  ---------------*/		
	div.col-xs-3.socialBtns{
		padding: 4%;
		width: 100%;
	}
	
	div.col-xs-8.col-xs-0ffset-1.lrgMedia {
		display: none;
	}
	
	img.socialMediaBtn{
		width: 80px;
	}
		
	nav.pagination{
		font-size: 1em;
	}

	p.copyright{
		margin-top: 4%;
	}
	/*------------ end of footer   ---------------*/	
	
	/*------------ start of sidebar  ---------------*/	
	div.sidebar{
		margin-left: 5%;
	}
	
	ul.monthlyList.sidebar,
	ul.catList.sidebar{
		margin: 1% 0% 0% -20%;
	}
	
	ul.monthlyList.sidebar li{		
		margin: -3% -5% 4% 9%;
	}
	/*------------ end of sidebar  ---------------*/	
			
	/*------------ start of front page  ---------------*/		    
    .cbp-so-scroller{
		width: 300px;	
	}
		
    .cbp-so-section h2{
	    font-size: 1.4em;
    }
    
    .cbp-so-section p{
    	display: none;  
    }
	/*------------ end of front page  ---------------*/
	
	/*------------ start of portfolio archive page  ---------------*/		
	.archiveTitle{
		font-size: 2.5em;
	}
	
	div.col-xs-12.archiveTitle h1{
		font-size: 3em;
	}
	
	.view{
		width: 100%;
	    height: 300px;
	    margin: 2% 0%;
	}
	
	.view-fifth:hover .mask{
		margin: 0% 4%;
		width: 30em;
	}
	
	.view-fifth:hover p{
		font-size: 0.8em;	
	}
	
	.view-fifth p{
		width: 100%;
	}
	/*------------ end of portfolio archive page  ---------------*/
		
	/*------------ start of single portfolio page ---------------*/		
	h1.productPageTitle{
		font-size: 1.8em;
	}

	span.company, 
	span.date,
	span.website, {
		font-size: 1em;
	}
	/*------------ end of single portfolio page ---------------*/
	
	/*------------ start of blog archive page  ---------------*/
	article.col-sm-6.blogArticle{
		margin: 0% 0% 10% 21%;
	}
	
	article.col-sm-6.blogArticle {
		font-size: 1em;
		text-align: justify;
	}
	
	div.col-lrg-2.col-lrg-offset-10.col-xs-12.blogArchivePage {
		margin: 28% 0% 0% -6%;
	}
	
	div.col-sm-2.blogDate{
		font-size: 0.7em;
	}
	
	div.col-xs-12.blogArchive{
		margin: 10% 0% 15% -3%;

	}	
	
	div.glyphicon.tag{
		margin-top: -8%;
	}	
	/*------------ end of blog archive page  ---------------*/	
	
	/*------------ start of blog date archive page  ---------------*/	
	div.col-xs-12.dateArchive{
		margin: -1% 0% 15% 0%;
	}
	
	p.catHeader {
		margin: 15% 0% 8% 10%;
		width: 70%;
		font-size: 1em;
	}
	
	div.col-sm-2.blogDate.datePage{
		margin-top: 6%;
	}
	/*------------ end of blog date archive page  ---------------*/	
	
	/*------------ start of blog page  ---------------*/		
	.col-xs-8.blogPage{
		padding: 0% 5%;
		width: 100%;
		font-size: 0.9em;
	}

	.col-xs-12.blogSinglePage{
		margin-top: 5%;		
	}
	
	form#commentform input#submit {
		margin: -3% 0% 4% 0%;		
	}
	
	p textarea#comment{
		width: 100%;
	}
	/*------------ end of blog  page  ---------------*/	
	
	/*------------ start of page  ---------------*/		
	.about-title{
		font-size: 2em;
	}
	
	.col-xs-12.aboutPage p{
		font-size: 0.8em;
	}
	/*------------ end of page  ---------------*/
		
	/*------------ start of contact page  ---------------*/
	input.wpcf7-form-control.wpcf7-submit{
		width: 100%;
	}	
	/*------------ end of contact page  ---------------*/	
			
	/*-------------- start of 404 page ----------------*/		
	div.col-xs-12.page404{
		margin-top: 25%;
	}
	
	img.img-404{
		width: 90%;
		height: auto;
	}
	
	ul.ul-404{
		width:90%;
		text-align: left;
	}
	
	h1.h1-404{
		font-size: 2em;
	}
		
	p.p-404{
		font-size: 1em;
	}	
	/* -------------- end of 404 page ----------------*/
}
/*------------ END OF MIN-WIDTH 320px and MAX-WIDTH 415px (iphone4, iphone5, iphone6, iphone6+ portrait)-------------*/

/*------------ START OF MIN-WIDTH 320px and MAX-WIDTH 767px (bootstrap xs | iphone4, iphone5, iphone6, iphone6+)-------------*/

@media only screen and (min-width: 20.000em) and (max-width: 47.938em) {
	
	/*------------ start of header/nav  ---------------*/		
	.cbp-af-header h1, 
	.cbp-af-header nav a{
		-webkit-transition: all 0.1s;
	    -moz-transition: all 0.1s;
	    transition: all 0.1s;
	}
	
	.cbp-af-header nav a{
		height: 20px;
	}
		
	div.header.opacity{
		margin-top: -25%;
		height: 200px;
	}
	
	header.cbp-af-header{
	    -webkit-transition: height 0.1s;
	    -moz-transition: height 0.1s;
	    transition: height 0.1s;		
	}
	
	header.cbp-af-header img.header-img{
		width: 100%;
		height: auto;
	}
	
	img.header-gravatar{
		width: 50%;
		height: auto;
		margin-left: -21%;
	}
	/*------------ end of header/nav  ---------------*/	
	
	/*------------ start of footer  ---------------*/
	div.col-md-3.smMedia.hidden-xs.hidden-sm {
		display: none;
	}
	
	img.socialMediaBtn{
		height: auto;
	}		
	/*------------ end of footer  ---------------*/	
		
	/*------------ start of front page  ---------------*/	
    figure.cbp-so-side img{
	    width: 100%;
	    height: auto;
    }
	/*------------ end of front page  ---------------*/
	
	/*------------ start of portfolio archive page  ---------------*/			
	div.col-xs-12.archiveTitle{
		margin-top: 27%;
	}	
				
	div.col-xs-12.portfolioPage{
	    margin: 45% 0% 3% 0%;
	}

	ul.pager.productPage{
		margin: 2% auto 7% auto;
	}
	
	.view-fifth:hover p{
		text-align:justify;
	}
	/*------------ end of portfolio archive page  ---------------*/		
			
	/*------------ start of single portfolio page ---------------*/	
			
	article.col-md-6.col-xs-12.single-portfolio{
		margin: 0% 0% 0% 2%;
	}

	article.col-md-6.col-xs-12.single-portfolio h1{
		text-align: center
	}
	
	div.addthis_sharing_toolbox{
		margin: 8% 0%;
	}
	
	div.col-md-6.col-xs-12.single-portfolio{
		text-align:center;
	}
	
	div.col-xs-12.productPage {
		margin: 30% auto 17% -2%;
	}
	
	div.date{
		margin: 0% auto;
	}
	
	div.productInfo{
		margin-left: auto;	
		text-align: center;
	}
	
	li.productInfo1, 
	li.productInfo2, 
	li.productInfo3{
		margin: 1% auto 0% auto;
	}
	
	span.date{
		display: none;
	}

	/*------------ end of single portfolio page ---------------*/	
	/*------------ start of blog archive page ---------------*/	
	article.col-sm-6.blogArticle{
		margin: 0% 0% 10% 25%;
	}
	
	div.col-lrg-2.col-lrg-offset-10.col-xs-12.blogArchivePage{
		position: inherit;
	}
	
	div.col-sm-2.blogDate{
		margin-top: 0%;
		margin-bottom: 5%;
		float: left;
	}	
	
	figure.col-sm-4.blogArchive	{
		display:none;
	}
	
	figure.col-sm-4.blogArchive img{
		width: 95%;
		height: auto;
	}	
		
	h2.month.sidebar,
	h2.year.sidebar,
	h2.categories.sidebar{
		display: inline-block;
	}	
	
	ul.monthlyList.sidebar,
	ul.catList.sidebar{
		width: 100%;
		list-style: none;
	}
	
	ul.monthlyList.sidebar li,
	ul.catList.sidebar li{		
		float:left;
	}		
	/*------------ end of blog archive page ---------------*/	
		
	/*------------ start of single portfolio page ---------------*/		
	div.col-md-6.col-xs-12.single-portfolio{
		left: 0;
	}
	
	div.col-md-6.col-xs-12.single-portfolio img{
		margin-left: 8%;
		width: 80%;
		height: auto;	
	}

	h1.productPageTitle{
		text-align: center;
	}		
	/*------------ end of single portfolio page ---------------*/		
				
	/*------------ start of contact page  ---------------*/
	.contact-content{
		width: 80%;
		margin: 0% 10%;
	}	
	/*------------ end of contact page  ---------------*/				
}

/*------------ END OF MIN-WIDTH 320px and MAX-WIDTH 767px (bootstrap xs | iphone4, iphone5, iphone6)-------------*/

/*--------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- END OF MEDIA QUERIES -----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

